import { useState } from 'react'
import reactLogo from './assets/react.svg'
import viteLogo from '/vite.svg'
import './App.css'

// LINHA ADICIONADA:
import AboutMe from './components/AboutMe/AboutMe.jsx'; 

function App() {
  // Você pode apagar tudo que estiver aqui dentro
  return (
    // SUBSTITUA TUDO DENTRO DESTE DIV
    <div className="App">
      <AboutMe />
    </div>
    // FIM DA SUBSTITUIÇÃO
  )
}

export default App